/* line 4, ../sass/unreader.scss */
.hubreview-unread-comment .comment-header {
  background: -webkit-linear-gradient(top, #f8fbfc, #f3f352) !important;
}
/* line 7, ../sass/unreader.scss */
.hubreview-unread-comment .comment-body {
  background-color: #FAFFC7;
}

/* line 12, ../sass/unreader.scss */
.hubreview-unread-button {
  vertical-align: middle;
}

/* line 16, ../sass/unreader.scss */
.hubreview-unread-check {
  margin: 0 2px 0 5px;
  vertical-align: middle;
}

/* line 20, ../sass/unreader.scss */
.hubreview-unread-check {
  height: 16px;
}

/* line 24, ../sass/unreader.scss */
.hubreview-unread-label {
  cursor: pointer;
  font-weight: bold;
  padding: 2px;
}
/* line 28, ../sass/unreader.scss */
.hubreview-unread-label:hover {
  text-decoration: underline;
}
/* line 32, ../sass/unreader.scss */
.hubreview-unread-label.keep {
  font-weight: normal;
  padding: 3px 5px 2px;
  font-size: 11px;
  color: #000;
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.7);
  background: #ffae1b;
  border-radius: 2px;
}
