/* line 5, ../sass/unreader.scss */
.hubreview-unread-comment .comment-header {
  background: -webkit-linear-gradient(top, #f8fbfc, #f3f352) !important;
}
/* line 8, ../sass/unreader.scss */
.hubreview-unread-comment .comment-body {
  background-color: #FAFFC7;
}

/* line 13, ../sass/unreader.scss */
.hubreview-unread-button {
  vertical-align: middle;
}

/* line 17, ../sass/unreader.scss */
.hubreview-unread-check {
  margin: 0 2px 0 5px;
  vertical-align: middle;
}

/* line 21, ../sass/unreader.scss */
.hubreview-unread-check {
  height: 16px;
}

/* line 25, ../sass/unreader.scss */
.hubreview-unread-label {
  cursor: pointer;
  font-weight: bold;
  padding: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/* line 31, ../sass/unreader.scss */
.hubreview-unread-label:hover {
  text-decoration: underline;
}
/* line 35, ../sass/unreader.scss */
.hubreview-unread-label.keep {
  font-weight: normal;
  padding: 3px 5px 2px;
  font-size: 11px;
  color: #000;
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.7);
  background: #ffae1b;
  border-radius: 2px;
}
